@import "tailwindcss";

:root {
  --black: #0a0a0a;
  --navy: #0b1f3a;
  --white: #ffffff;
  --soft: #f7f7f5;
  --border: #e7e7e4;
  --muted: #6b6b6b;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

/* BUTTONS */

.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 999px;

  background: #0b1f3a;
  color: #ffffff !important;

  padding: 13px 24px;

  font-size: 14px;
  font-weight: 500;

  transition: 0.2s ease;
}

.btn-primary:hover {
  background: #000000;
  transform: translateY(-1px);
}

.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #d9d9d6;
  border-radius: 999px;

  background: #ffffff;
  color: #0a0a0a !important;

  padding: 13px 24px;

  font-size: 14px;
  font-weight: 500;

  transition: 0.2s ease;
}

.btn-secondary:hover {
  border-color: #0a0a0a;
  transform: translateY(-1px);
}

::selection {
  background: #0b1f3a;
  color: white;
}